// amfe-flexible 定义宽度10rem是整个屏幕的宽度，是按照750 / 7.5算的，p2r是一种以宽度为7.5rem计算的方式
// 虽然实际上会被转换，但是在编写和计算宽度的时候很方便
@function p2r($rem) {
  @return $rem / 7.5 * 10
};

//@function rem($n) {
//  @return $n / (750 / 16)+rem;
//}
