@require 'variable.styl'
// 所有页面的wrap层
.wrap
  width 1080px
  background #fff
.--title
  font-size 20px
  font-style normal
  font-weight 500
  color $color-font-light-gray
  padding 4px 0
  i
    font-size 12px
    font-style normal
.mint-tabbar
  top 0
.index-wrap
  width 100%
  background
  >div
    background $color-bg-white
  .banner
    position relative
    width 1080px
    height 400px
    margin 0 auto
    .el-carousel__container
      height 400px
      img
        display block
        height 100%
        width 100
$item-wrap-width = 738px
.index-bottom-wrap
  border 1px solid $color-bd-gray
  width 1080px
  margin 0 auto
  display flex
  flex-direction row
  .user-info
    width 300px
    border 1px solid #000
  .recommend,
  .personalized,
  .Programs
    width $item-wrap-width
    flex 1
    position relative
    display flex
    flex-direction column
    padding 20px
    .recommend-wrap
      .recommend-list
        margin-top 10px
        li
          width 137px
        .cover
          width 137px
          height @width
// title stly
.comment-title
  border-bottom 2px solid $color-bg-primary
  height 33px
  padding 0 10px 0px 34px
  background url("/static/assets/imagesindex.png") no-repeat
  background-size contain
  background-position -225px -156px
  ul
    display inline-block
    color $color-font-gray
    li
      float left
      padding 0 10px
      &:hover
        text-decoration underline
        color $color-bg-primary
  .new-hot
    float right
    border 1px solid $color-bd-gray
    border-radius 4px
    span
      display inline-block
      padding 4px 6px
      cursor pointer
      background $color-bd-gray
      &:first-child
        border-radius 4px 0 0 4px
      &:last-child
        border-radius 0 4px 4px 0
      &.active
        background $color-bg-primary
        color #fff
.part-base-table
  ul
    display flex
    flex-direction row
    flex-wrap wrap
    margin 20px 0 0 -50px
    li
      width 159px
      line-height 1.4
      flex-wrap wrap
      padding 0 0 30px 50px
      .cover
        position relative
        width 159px
        height @width
        cursor pointer
        img
          display block
          width 100%
          height 100%
          vertical-align top
        .listen-total
          position absolute
          bottom 0
          left 2px
          color #d6d6d6
      .desc
        line-height 1.2
        padding 4px 0
        span
          display block
        span:first-child
          font-size 13px
          margin-bottom 4px
