@require 'variable.styl'

.index-wrap
  .banner
    text-align center
    background $color-bg-dark
    .el-carousel__container
      text-align center
      height 360px
      button.el-carousel__arrow
        background $color-bg-gray
        &:hover
          background $color-bg-dark
        i
          font-size 30px
      img
        display inline-block
        max-width 1080px
        height 100%
  .remommend
    width 1080px
    display flex
    flex-direction column

