html
  font-size 62.5%
body
  cursor default
  user-select none
  color $color-font-dark
  font-size 12px
  font-size 1.2rem
  font-family Microsoft YaHei, -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif
  margin 0
  padding 0
  color #000
ul
  list-style none
  margin 0
  padding 0
li
  list-style none
i
  font-style normal
#app
  width 100%
  height 100%
  overflow hidden
  background $color-bg-dark-gray
@require 'normalize.styl'
@require "./variable.styl"
@require "./font/iconfont.styl"
@require 'indexModal.styl'
@require 'menu.styl'
@require 'user-center.styl'
@require 'playList.styl'
