@require "./variable.styl"
body
  cursor default
  user-select none
  color $color-font-dark
  font-size 12px
  font-family Microsoft YaHei, -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif
  margin 0
  padding 0

html,body,#app
  height 100%
#app
  min-width 1260px
  min-height 600px
  overflow hidden
@require 'menu.styl'
@require 'main-center-container.styl'
