@import 'common.styl'
$menu-height = 4rem
.main-header
  height $menu-height
  display flex
  flex-direction row
  background $color-bg-primary
  >ul.index-menu
    flex 1
    display flex
    flex-direction row
    li
      flex 1
      justify-content center
      align-items center
      text-align center
      align-self center

  span.user-center,
  span.search,
  span.index-search
    padding 0 20px
    width 40px
    height $menu-height
    z-index 999
    text-align center
    line-height $menu-height
