$color-font-dark ?= #000
$color-font-normal ?= #333
$color-font-gray ?= #999
$color-font-light-gray ?= #666

$color-bg-dark ?= #242424
$color-bg-gray ?= #333
$color-bg-dark-gray ?= #f5f5f5
$color-bg-white ?= #fff
$color-bg-primary ?= #d43c33

$color-bd-gray ?= #d3d3d3

$color-link ?= #0c73c2
